@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color:hsla(314, 95%, 46%, 0.5);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color:rgba(255, 0, 153, 0.34);
    border-radius: 12px;
  }
}

@media (min-width: 1024px) {
  body {
    /* display: flex; */
  }

  #app {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 2rem;
    justify-items: center;
  }
}
