@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 2rem;
  justify-items: center;
}

a,
.green {
  text-decoration: none;
  /* color:#FCBAAD; */
  transition: 0.4s;
}
img {
  border-radius: 1.5rem;
}
select {
  border: none;
  border-radius: 5px;
  background-color: #FCBAAD;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #916DB3;
}

@media (hover: hover) {
  a:hover {
    background-color:#FCBAAD;
    border-radius: 12px;
    transition: 0.4s;
    text-decoration: none;
  }
}
